.vs
/Web/Containers.Web.ViewModels/bin
/Web/Containers.Web.ViewModels/obj
/Web/Containers.Web.Infrastructure/bin
/Web/Containers.Web.Infrastructure/obj
/Web/Containers.Web/bin
/Web/Containers.Web/obj
/Tests/Sandbox/bin
/Tests/Sandbox/obj
/Tests/Containers.Web.Tests/bin
/Tests/Containers.Web.Tests/obj
/Tests/Containers.Services.Data.Tests/bin
/Tests/Containers.Services.Data.Tests/obj
/Services/Containers.Services.Messaging/bin
/Services/Containers.Services.Messaging/obj
/Services/Containers.Services.Mapping/bin
/Services/Containers.Services.Mapping/obj
/Services/Containers.Services.Data/bin
/Services/Containers.Services.Data/obj
/Services/Containers.Services/bin
/Services/Containers.Services/obj
/Data/Containers.Data.Models/bin
/Data/Containers.Data.Models/obj
/Data/Containers.Data.Common/bin
/Data/Containers.Data.Common/obj
/Data/Containers.Data/obj
/Data/Containers.Data/bin
/Containers.Common/bin
/Containers.Common/obj
