@model Containers.Web.ViewModels.SRSObjects.Industrial.SRSObjectIndustrialContainerInputModel
@{
    var containerItems = this.Model.ContainerItems.Select(x => new SelectListItem(x.Value, x.Key));
}

    <form method="post" class="col-md-6 offset-md-3"
          enctype="multipart/form-data">
        <h1>@this.ViewData["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ContainerItems">Containers</label>
            <select asp-for="ContainerItems" class="form-control single-select" singe="single" id="containerddl"
                    asp-items="containerItems">
                <option value="0">--- Please choose ---</option>
            </select>
            <span asp-validation-for="ContainerItems" class="text-danger"></span>
        </div>
        <input type="hidden" id="hiddenTab" name="hiddenTab" />
        @Html.HiddenFor(model => model.ContainerId, new { id = "hiddenContainer" })
        <br>
        <input type="submit" class="btn btn-primary" />
        <br>
        <div>
            <a asp-action="AllContainers" asp-route-id="@Model.SrsobjectIndustrialId">All containers</a>
        </div>
    </form>    

@section Scripts {
    <script>
    $(function(){
      $(".single-select").removeAttr("multiple");
    });


    $("#containerddl").on('change',function(){
        var getValue = $(this).val();
        $("input[id=hiddenContainer]:hidden").val(getValue);        
    });

    </script>
}
