@model Containers.Web.ViewModels.Schedules.ScheduleInputModel
@{
    var districtItems = this.Model.DistrictItems.Select(x => new SelectListItem(x.Value, x.Key));
    var srsObjectIndustrialItems = this.Model.SrsObjectIndustrialItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>Add schedule</h1>

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>    
    <div class="form-group">
        <label asp-for="ObjectType"></label>
        <select asp-for="ObjectType" class="form-control"
                asp-items="@Html.GetEnumSelectList<Containers.Web.ViewModels.Schedules.ObjectType>()">
        </select>
        <span asp-validation-for="ObjectType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RaiseDate"></label>
        <input asp-for="RaiseDate" class="form-control" />
        <span asp-validation-for="RaiseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RaiseTimeFrom"></label>
        <input asp-for="RaiseTimeFrom" class="form-control" />
        <span asp-validation-for="RaiseTimeFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RaiseTimeTo"></label>
        <input asp-for="RaiseTimeTo" class="form-control" />
        <span asp-validation-for="RaiseTimeTo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DistrictItems">Districts</label>
        <select asp-for="DistrictItems" class="form-control single-select" singe="single" id="districtddl"
                asp-items="districtItems">
            <option value="0">--- Please choose ---</option>
        </select>
        <span asp-validation-for="DistrictItems" class="text-danger"></span>
    </div>    
    @Html.HiddenFor(model => model.DistrictId, new { id = "hiddenDistrict" })
    <div class="form-group">
        <label asp-for="SrsObjectIndustrialItems">SrsObjectIndustrials</label>
        <select asp-for="SrsObjectIndustrialItems" class="form-control single-select" singe="single" id="srsObjectddl"
                asp-items="srsObjectIndustrialItems">
            <option value="0">--- Please choose ---</option>
        </select>
        <span asp-validation-for="SrsObjectIndustrialItems" class="text-danger"></span>
    </div>    
    @Html.HiddenFor(model => model.SrsobjectId, new { id = "hiddenSRSObject" })
    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts {
    <script>
    $(function(){
      $(".single-select").removeAttr("multiple");
    });

    $("#districtddl").on('change',function(){
        var getValue = $(this).val();
        $("input[id=hiddenDistrict]:hidden").val(getValue);        
    });

    $("#srsObjectddl").on('change',function(){
        var getValue = $(this).val();
        $("input[id=hiddenSRSObject]:hidden").val(getValue);       
    });

    </script>
}